.dark-mode {
    background-color: #111517;
    color: white;
}

.dark-mode-l {
    background-color: rgba(6, 0, 5, 0.73);
    color: white;
}

.shadow-white {
    box-shadow: 0px 1px 7px 0px white;
}

:root {
    --main-bg-color: #fafafa;
    --element-bg-color: white;
    --text-color: #000000;
    --shadow: 33, 37, 41, 0.075;

}

.element-bg {
    background-color: var(--element-bg-color);
}

.main-bg {
    background-color: var(--main-bg-color);
}

.text-color {
    color: var(--text-color);
}

.dropdown-menu {
    --bs-dropdown-bg: var(--element-bg-color);
    background-color: var(--element-bg-color);
}



